.pokemon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: 6rem;
    z-index: 0;
}

.description, .profile {
    background-color: #e9ecef;
    width: 90%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.myButton {
	background-color:#ffc400;
	border-radius:12px;
	border:1px solid #ffe100;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    margin-bottom: 1rem;
}
.myButton:hover {
	background-color:#ebc738;
}

.myButton:active {
	position:relative;
	top:1px;
}

h1 {
    font-weight: bold;
}

.heading_mobile {
    margin: 1.2rem 0 0.3rem 0 !important; /* To overwrite bootstrap*/
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

.heading_desktop {
    display: none;
    margin-bottom: 2rem;
}

.heading_and_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    height: 13rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading_and_text h1 {
    font-size: 2rem;
}

.heading_and_text p {
    margin: 0;
}

@media only screen and (min-width: 490px) {
    .pokemon_container {
        flex-direction: row;
        justify-content: center;
        text-align: center;
        position: absolute;
        margin-top: 8rem;
    }

    .pokemon_pic {
        max-width: 20rem;
    }

    .heading_desktop {
        display: block;
        font-size: 25pt;
        font-variant: small-caps;
    }

    .heading_mobile {
        display: none;
    }

    .heading_and_text {
        width: 30%;
        height: 20rem;
    }
  }