.cardContainer{
    background-color: rgba(0, 153, 255, 0.349);
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 0.4rem 0.4rem 10px #00000046;
}  

h1 {
    font-size: 15pt;
}

h6 {
    margin-bottom: 1.5rem;
}

.imgStyle{
    display: flex;
    justify-content: center;
}


 .pokeLike {
    height: 2rem;
    width: 2rem;
} 

.pokeball{
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
}


@media only screen and (min-width: 400px) {
    .cardContainer{
        margin: 1rem;
        width: 16rem;
    
    }  

    .imgStyle {
        width: 10rem
    }
}
