 .cardContainer{
   background: yellow;
   margin: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}  


.imgStyle{
    width: 15rem;
    display: flex;
    justify-content: center;
}


 .pokeLike {
    height: 2rem;
    width: 2rem;
} 

.pokeball{
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
}


@media only screen and (min-width: 400px) {
    .cardContainer{
        margin: 1rem;
        width: 20%;
    
    }  
}

