.favourite_container {
    position: absolute;
    margin-top: 7rem;
    background: yellow;
    margin: 7rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}