.linkDiv {
    height: 0;
}

.header {
    background-color: yellow;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.headerItems {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
}

.links {
    text-decoration: none;
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    line-height: 1.8;
}

.links:hover {
    color: rgb(0, 16, 109);
}

.fas {
    font-size: 22pt;
    color: black;
    margin: 1rem;
}

.pokemonIcon {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
}

.pokemonTitle {
    width: 13.3rem;
    height: 6rem;
    padding: 1rem;
}

/* colors:
purple: #9893FF; */