.linkDiv {
    display: none;
}

.header {
    background-color: rgba(0, 153, 255);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    text-decoration: none;
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    line-height: 1.8;
}

.links:hover {
    color:#FF5959;
    text-decoration: none;
}

.fas {
    font-size: 22pt;
    color: black;
    padding: 1rem;
}

.pokemonIcon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.8rem;
}

.pokemonTitle {
    width: 13.3rem;
    height: 6rem;
    padding: 1rem;
}

@media only screen and (min-width: 900px) {
    .pokemonIcon {
        margin-right: 4rem;
    }

    .fas {
        margin-left: 4rem;
    }

    .linkDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
   
}
