.background_img {
    height: 100vh;
}

.background_img::after {
    content: "";
    opacity: 0.4;
    top: 6rem;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-image: url("../../assets/startpage_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }