.pokemon_pic {
    width: 70%;
    border: 6px solid #0099FF;
    background: #A6DBFF;
    margin: 0.5rem;
}

.types {
    margin-top: 0.5rem;
}

.type {
    border-radius: 0.6rem;
    padding: 0.3rem;
    margin: 0.3rem;
}

.description {
    background-color: #e9ecef;
    width: 90%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}
.description p {
    margin: 0 !important;
}

h2 {
    margin: 1rem 0 0.5rem 0;
    font-weight: bold;
}

@media only screen and (min-width: 400px) {
    .description {
        width: 70%;
    }
}

@media only screen and (min-width: 800px) {
    .description {
        width: 33%;
    }
}